main{
  text-align: center;
  background: white;
}

h1 {
    color: #4572ED;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    color: #404F5E;
    font-size:20px;
    margin: 0;
}

i {
  color: #4572ED;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}
.card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  display: inline-block;
  margin: 0 auto;
}

.check{
  border-radius:200px;
  height:200px;
  width:200px;
  background: #F8FAF5;
  margin:0 auto;
  background-color: #4572ed11;
}
