main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/mySonyHeaderWelcomeBg3.jpg);
    background-position: center;
    background-size: cover;
}

form{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #212530;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
    
}

form h1{
    color: white;
    text-align: center;
}

.depart, .arrivee, .date, .heure-depart, .passagers{
    display: flex;
    justify-content: space-between;
}

.depart input, .arrivee input, .date input, .heure-depart input, .passagers input{
    width: 141px;
}

form .inputs input{
    padding:15px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    outline-color: #3393ff;
}

form label{
    color: white;
    margin-top: 12px;
}

form select{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    outline-color: #3393ff;
    width: 171px;
}

form button{
    cursor: pointer;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    background-color: #3393ff;
    outline: none;
}
